---
import {
	type ContactFormTranslations,
	getCustomerReviewTranslations,
	getDatePickerTranslations,
} from './contact/contact-translations';
import { getContactTranslations } from './contact/contact-translations';
import { getHeroImages } from '../../state/images.service';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '../../layouts/Layout.astro';
import LayoutCard from '../../components/LayoutCard.astro';
import { Button } from '@/components/ui/button';
import ImageRow from './start/ImageRow.astro';
import ContactForm from '../ui/ContactForm';
import { CustomerReviewPreview } from '@/components/pages/customer-reviews/CustomerReview';

import {
	getTranslatedOffers,
	getTranslatedShootingDescriptions,
} from './services/services-translation.util';
import { getCollection } from 'astro:content';
import { getPageTitle } from '../../util/page-title';
import ProcessDescription from './services/ProcessDescription';

const optimizedMobileImages = await getHeroImages();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contactTranslations: ContactFormTranslations = getContactTranslations(t);
const datePickerTranslations = getDatePickerTranslations(t);
const reviewTranslations = getCustomerReviewTranslations(t);
const offerTranslations = getTranslatedOffers(t);
---

<Layout title={getPageTitle(t, 'site.title')}>
	<LayoutCard>
		<div
			class="hide-scrollbar flex w-full flex-col items-center gap-16 md:gap-12 lg:gap-20 xl:gap-24"
		>
			<div class="flex flex-col items-center text-center md:justify-center">
				<h1 class="mb-4 mt-8 max-w-[400px] text-3xl sm:max-w-[520px] md:text-4xl">
					{t('start.hero.title')}
				</h1>
				<p class="text-pretty text-center text-gray-600">{t('start.hero.subtitle')}</p>
				<p class="text-gray-600">{t('start.hero.cta')}</p>

				<div class="mt-8 flex gap-3">
					<a href=`/${lang}/work`>
						<Button>
							{t('start.hero.exploreWork')}
						</Button>
					</a>

					<a href=`/${lang}/services`>
						<Button variant="outline">
							{t('start.hero.exploreService')}
						</Button>
					</a>
				</div>
			</div>

			<section class="flex flex-col gap-12">
				<div class="flex h-full max-w-4xl gap-3 sm:gap-6">
					<ImageRow images={optimizedMobileImages.slice(0, 2)} reverse={true} />
					<ImageRow images={optimizedMobileImages.slice(2, 4)} />
				</div>

				<a class="self-center" href=`/${lang}/work`>
					<Button size="lg" variant="default">
						{t('start.exploreMoreWork')}
					</Button>
				</a>
			</section>

			<hr />

			<CustomerReviewPreview translations={reviewTranslations} />

			<hr />

			<div class="flex flex-col items-center gap-3">
				<ProcessDescription
					client:load
					title={t('start.process.title')}
					subtitle={t('start.process.subtitle')}
					shootingSteps={getTranslatedShootingDescriptions(t)}
				/>

				<a class="mt-4" href=`/${lang}/services`>
					<Button size="lg" variant="outline"> {t('start.viewAllServices')}</Button>
				</a>
			</div>

			<hr />

			<div class="flex w-full max-w-4xl items-center justify-center">
				<ContactForm
					client:load
					translations={contactTranslations}
					datePickerTranslations={datePickerTranslations}
					offers={offerTranslations}
				/>
			</div>
		</div>
	</LayoutCard>
</Layout>
