---
import { getCustomerReviewTranslations } from './contact/contact-translations';
import { getContactTranslations } from './contact/contact-translations';
import { getStoredImages } from '../../state/images.service';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';
import LayoutCard from '../../components/LayoutCard.astro';
import { Button } from '@/components/ui/button';
import { heroImagesKey } from '../../content/config';
import ImageRow from './start/ImageRow.astro';
import ContactForm, { type ContactFormTranslations } from '../ui/ContactForm';
import {
	CustomerReviewPreview,
	CustomerReviewPreviewTranslations
} from './customer-reviews/CustomerReview';

const optimizedMobileImages = await getStoredImages(heroImagesKey);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contactTranslations: ContactFormTranslations = getContactTranslations(t);
const reviewTranslations = getCustomerReviewTranslations(t);
---

<Layout title="Jo Maendle Photography">
	<LayoutCard>
		<div
			class="hide-scrollbar flex w-full flex-col items-center gap-16 md:gap-12 lg:gap-20 xl:gap-24"
		>
			<div class="flex flex-col items-center text-center md:justify-center">
				<h1 class="mb-4 mt-8 max-w-[520px] text-3xl md:text-4xl">
					{t('start.hero.title')}
				</h1>
				<p class="text-pretty text-center text-gray-600">{t('start.hero.subtitle')}</p>
				<p class="text-gray-600">{t('start.hero.cta')}</p>

				<div class="mt-8 flex gap-3">
					<a href=`/${lang}/work`>
						<Button>
							{t('start.hero.exploreWork')}
						</Button>
					</a>

					<a href=`/${lang}/services`>
						<Button variant="outline">
							{t('start.hero.exploreService')}
						</Button>
					</a>
				</div>
			</div>

			<div class="flex h-full max-w-4xl gap-3 sm:gap-6">
				<ImageRow images={optimizedMobileImages.slice(0, 2)} reverse={true} />
				<ImageRow images={optimizedMobileImages.slice(2, 4)} />
			</div>

			<CustomerReviewPreview translations={reviewTranslations} />

			<div class="w-full max-w-4xl">
				<ContactForm client:load translations={contactTranslations} />
			</div>
		</div>
	</LayoutCard>
</Layout>
