---
import {Image} from 'astro:assets';
const {images} = Astro.props;


interface ImageData {
    category?: string;

    [key: string]: any;
}

interface ImageI {
    data: ImageData;
    slug: string;
}

type ImagesByCategory = {
    [category: string]: ImageI[];
};

/*const imagesByCategory: ImagesByCategory = images.reduce((acc, image) => {
    const category = image.data.category || 'Uncategorized';

    if (!acc[category]) {
        acc[category] = [];
    }
    acc[category].push(image);
    return acc;
}, {});*/
---

<div class="w-full overflow-y-auto h-full pb-16 pr-4 sm:pr-8">
    <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 max-w-5xl">
        {images.map((image: ImageI) => (
                <a href={`./details/${image.slug}`}>
                    <Image src={image.data.image}
                           transition:name=`media-image-${image.slug}`
                           alt="" oncontextmenu="return false;"/>
                </a>
        ))}
    </div>
</div>