---
import {getLangFromUrl} from "../i18n/utils";
import type {CollectionEntry} from "astro:content"
import {getImage} from 'astro:assets';
import {getPhotoDetailsStaticPaths} from "../util/details-static-paths";

interface Props {
    images: CollectionEntry<'portrait-images'>[];
}

export interface ImageI {
    data: {
        image: string;
    };
    slug: string;
}

const lang = getLangFromUrl(Astro.url);
const {images} = Astro.props;

const optimizedImages = images.map(async (image) => {
    const newImage =  await getImage({
            src: image.data.image,
            width: 400,
            quality: 80,
            format: 'webp',
        });
    return {
        ...image,
        data: {
            ...image.data,
            image: newImage
        },
    }
});

const res = await Promise.all(optimizedImages);

function getUrlForImage(image: ImageI) {
    if (Astro.url.pathname.includes('nature')) {
        return `../../${lang}/details/${image.slug}`;
    }

    return `../${lang}/details/${image.slug}`;
}
---

<div class="w-full overflow-y-auto h-full pb-16 pr-4 sm:pr-8 z-0">
    <div class="grid md:grid-cols-2 gap-4 lg:grid-cols-3 max-w-5xl">
        {images.map((image) => (
                <a href={getUrlForImage(image)}>
                    <img src={image.data.image.src}
                         transition:name=`media-image-${image.slug}`
                         alt="" oncontextmenu="return false;"/>
                </a>
        ))}
    </div>
</div>