---
import {getLangFromUrl} from "../i18n/utils";
import {Image} from 'astro:assets';
const {images} = Astro.props;
const lang = getLangFromUrl(Astro.url);

interface ImageData {
    category?: string;

    [key: string]: any;
}

interface ImageI {
    data: ImageData;
    slug: string;
}

type ImagesByCategory = {
    [category: string]: ImageI[];
};

function getUrlForImage(image: ImageI) {
    if (Astro.url.pathname.includes('nature')) {
        return `../../${lang}/details/${image.slug}`;
    }

    return `../${lang}/details/${image.slug}`;
}
---

<div class="w-full overflow-y-auto h-full pb-16 pr-4 sm:pr-8">
    <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 max-w-5xl">
        {images.map((image: ImageI) => (
                <a href={getUrlForImage(image)}>
                    <Image src={image.data.image}
                           transition:name=`media-image-${image.slug}`
                           alt="" oncontextmenu="return false;"/>
                </a>
        ))}
    </div>
</div>