---
import {getLangFromUrl} from "../i18n/utils";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import {ViewTransitions} from 'astro:transitions';

interface Props {
    title: string;
}

const {title} = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="stylesheet" href="src/styles.css"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <ViewTransitions/>
</head>
<body class="flex flex-col">
<Header/>
<main class="flex-1 sm:overflow-hidden">
    <slot/>
</main>
<Footer/>
</body>
</html>

<style is:global>
    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-Light.woff2") format("woff2"),
        url("/fonts/Outfit-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-Regular.woff2") format("woff2"),
        url("/fonts/Outfit-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-Medium.woff2") format("woff2"),
        url("/fonts/Outfit-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-SemiBold.woff2") format("woff2"),
        url("/fonts/Outfit-SemiBold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    :root {
    }

    html {
        font-family: "Outfit", sans-serif;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .text-hover {
        @apply text-gray-500 hover:text-gray-900 transition-colors;
    }

    .card {
        @apply p-4 sm:p-8 pr-0 sm:pr-0 ;
    }

    .layout-title {
        @apply text-3xl  ;
    }

</style>
