---
import type { CollectionItem } from '../../content/config'
import { ArrowRight } from 'lucide-react'
import { Button } from './button'
import { type ClientProject } from '../../content/config'

const { project = {} as CollectionItem<ClientProject> } = Astro.props
---

<div
	class="group flex w-full cursor-pointer flex-col gap-4 bg-gray-50 p-4 transition-all hover:scale-[1.01] hover:shadow-xl sm:flex-row sm:gap-8 md:max-h-[50vh]"
>
	<img
		src={project.data.titleImage?.src ?? ''}
		alt={project.data.titleImage?.alt ?? ''}
		transition:name=`media-image-${project.slug}`
		class="h-full max-h-[300px] flex-shrink object-contain object-left"
	/>
	<div class="flex flex-col gap-2 sm:gap-4">
		<h2 class="layout-title" transition:name=`project-heading-${project.slug}`>
			{project.data.title}
		</h2>

		<p class="secondary-text flex-1" transition:name=`project-subtitle-${project.slug}`>
			{project.data.description}
		</p>

		<div class="flex justify-end">
			<div class="button-fade-in hidden hover:text-gray-500 group-hover:block">
				<Button variant="ghost">
					<ArrowRight />
				</Button>
			</div>
		</div>
	</div>
</div>

<style>
	.button-fade-in {
		animation: fadeIn 0.2s ease-in-out;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			scale: 0.7;
		}
		to {
			opacity: 1;
			scale: 1;
		}
	}
</style>
